body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.hero {
    padding: 3rem 2rem;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-image {
    display: flex;
    justify-content: left;
    align-self: flex-start;
}

.hero-image img {
    object-fit: cover;
    width: 35%;
    height: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-text {
    text-align: left;
    max-width: 600px;
    flex: 1;
}