/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --font-logo: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    --font-title: 'garamond-premier-pro', 'Poppins', sans-serif;
    --font-text: 'DS Trade Gothic', 'Poppins', sans-serif;
    --title-color: #000;
}

/* Logo Styling */
.nav_logo {
    color: var(--title-color);
    font-family: var(--font-logo);
    letter-spacing: 4px;
    font-weight: 600;
    margin: 0;
}

/* Shared Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 500;
}

.nav__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.linked__page a {
    text-decoration: none;
    color: black;
}

